<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <div id="wrapper">
	<p><a href="/">首页</a>|<a href="/guestbook">guest book</a>|<a href="/zhugechengming/cheng">诸葛亮称命法</a>|<a href="/DevNotes.html">开发手记</a></p>
    <div>
	{% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>
	</div>
	<p id="footer">Power by Google App Engine. CopyRight 2008 - 2010，杨贵堂。</p>
  </div>
  </body>
</html>
